*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.header-mobile{
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	display: none;
}
.header-desktop{
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 30px;
}



.body{
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	column-gap:120px;
	height: 95vh;
	padding: 50px 80px;
	margin-left: 90px;
}
#register{
	border:1px solid hsl(0, 0%, 41%);
}
.illustration{
	width:50.5%;
	height: 95%;
}
.desktop-illustration{
	width:80%;
	height:100%;
}
.info{
	width: 50%;	
}
.logo{
	width: 80px;
	height: 40px;
	content:url('./images/logo.svg');
}
.link{
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.link div{
	display: flex;
	column-gap:7px;
	align-items: center;
}
.link div img{
	width: 10px;
	cursor: pointer;
}

a{
	color: hsl(0, 0%, 41%);
	font-size: 19px;
	font-weight: 500;
	text-decoration: none;
}
body{
	background-color:  hsl(0, 0%, 98%);
	font-family:"Epilogue",Arial, Helvetica, sans-serif;
}
.btn{
	width: 80px;
	height: 35px;
	border-radius: 8px;
	border:none;
	background-color: inherit;
	color: hsl(0, 0%, 41%);
	cursor: pointer;
}
.headliner{
	font-size: 75px;
	width:80%;
	margin-bottom: 40px;
	color: hsl(0, 0%, 8%);
}
.detail{
	width:70%;
	font-size: 18px;
	margin-bottom:70px;
	color: hsl(0, 0%, 41%);
	font-weight: 500;
	line-height:24px;
}

#h-btn{
	width:120px;
	height: 50px;
	background-color: hsl(0, 0%, 8%);
	color: white;
	margin-bottom: 125px;
}
#h-btn:hover{
	background-color: inherit;
	color:hsl(0, 0%, 41%); 
	border: 1px solid hsl(0, 0%, 41%);
}
.mobile-illustration{
	display: none;
}
.bottom-logo{
	display: flex;
	align-items: center;
	column-gap: 20px;
}
#up-f,#up-c{
	display: none;
}
.features-drop{
	position: absolute;
	left:32.5%;
	background-color: white;
	border-radius: 8px;
	top:7.5%;
}
.features-drop div{
	margin: 10px 15px;
	
}
.features-drop div a{
	margin-left: 10px;
}
.company-drop{
	position: absolute;
	background-color: white;
	border-radius: 8px;
	left:43%;
	top:7.5%;
}
.company-drop a{
	display:block;
	margin: 10px 15px;
}
.menu{
	content: url('./images/icon-menu.svg');
}

.menu-mobile{
	width:65%;
	height:100vh;
	background-color: white;
	position: absolute;
	left: 35%;
	top: 0;
	display: none;
}
.close{
	content: url('./images/icon-close-menu.svg');
	position: absolute;
	left:80%;
	top:20px;
	cursor: pointer;
}


@media only screen and (max-width: 375px){
	*{
		margin: 0;
		padding: 0;
	}
	.header-desktop{
		display: none;
	}
	.header-mobile{
		display: flex;
	}
	.mobile-illustration{
		display: block;
		width: 100%;
	}
	.illustration{
		width: 100%;
		
	}
	.desktop-illustration{
		display: none;
	}
	.body{
		display: block;
		margin-left:0px;
		width: 100%;
		padding: 0px;
		height: 100%;

		margin-bottom: 30px;
	}
	.info{
		text-align: center;
		width: 100%;
	}
	.headliner{
		font-size:2.5rem;
		width: 100%;
		margin-top: 30px;
	
	}
	.detail{
		width:90%;
		font-size: 18px;
		line-height: 24px;
		margin:30px 20px;
		text-align: center;
	}
	.bottom-logo{
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 0px;
	}
	.bottom-logo div img{
		width:70%;
	}
	.link-mobile{
		margin:80px 40px;
	}
	.link-mobile div{
		margin-bottom: 20px;
	}
	.company-drop-mobile a{
		display: block;
		margin-bottom: 20px;
	}
	.company-drop-mobile,.features-drop-mobile{
		margin-left: 20px;
	}
	.menu-mobile{
		display: none;
	}
	.link-mobile div{
		display: flex;
		column-gap:7px;
		align-items: center;
	}
	.link-mobile div img{
		width: 10px;
		cursor: pointer;
	}
	
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }